Repository flatpak/xdg-desktop-portal, pull requests merged in 2023-11, with the labels that each got.

#1182 tests: Add a devenv for our most common test environment
  tests/.pytest.ini
  tests/meson.build
Labels: enhancement, build system, tests

#1183 README, website: Fix some typoes
  README.md
  doc/website/index.md
Labels: enhancement, documentation, website

#1184 doc: Correct a few impl.portals refering to the Request.Response signal
  data/org.freedesktop.impl.portal.GlobalShortcuts.xml
  data/org.freedesktop.impl.portal.RemoteDesktop.xml
  data/org.freedesktop.impl.portal.ScreenCast.xml
Labels: enhancement, documentation

#1194 Code style formatting
  document-portal/document-portal-fuse.c
  tests/account.c
Labels: enhancement, portal: documents

#1198 meson.build: fix building when flatpak-interfaces-dir is explicitly specified
  meson.build
Labels: bug, build system

#1199 portal-impl: Hard-code x-d-p-gtk as a last-resort fallback
  src/portal-impl.c
Labels: config

#1195 xdg-document-portal: Fix sqlite3 usage
  document-portal/document-portal-fuse.c
Labels: bug, portal: documents

#1201 Various cleanups and a fix for the Document portal's FUSE implementation
  document-portal/document-portal-fuse.c
Labels: bug, enhancement, portal: documents

#1206 Add FileTransfer portal test
  tests/test-document-fuse.py
Labels: enhancement, tests

#1208 test-document-fuse: Fix test with invalid keys
  tests/test-document-fuse.py
Labels: enhancement, tests

#1210 typo: remove extra ``
  data/org.freedesktop.portal.GlobalShortcuts.xml
Labels: bug, documentation

#1223 docs: properly detect dependencies for documentation
  meson.build
  tests/meson.build
Labels: enhancement, build system

#1224 Add custom styling to the docs pages
  doc/_static/inter.woff2
  doc/_static/xdg-portal-dark.png
  doc/_static/xdg-portal-light.png
  doc/_static/xdg.css
  doc/common-conventions.rst
  doc/conf.py
  doc/copy-subdir.py
  doc/index.rst
  doc/meson.build
Labels: enhancement, documentation

#1226 Fix social card
  doc/_static/card.png
  doc/conf.py
  doc/meson.build
Labels: enhancement

#1230 tests: Fix memory leaks
  .github/workflows/check.yml
  tests/backend/screenshot.c
  tests/filechooser.c
  tests/limited-portals.c
Labels: bug, ci, tests

#1231 restore-token: Store data with a single D-Bus call
  src/restore-token.c
Labels: enhancement, portal: screencast
