Repository flatpak/xdg-desktop-portal, pull requests merged in 2024-01, with the labels that each got.

#1258 Fix broken link to xdg_foreign protocol
  doc/window-identifiers.rst
Labels: bug, documentation

#1262 document-portal: Minor indentation and typo fixes
  document-portal/document-portal-fuse.c
Labels: enhancement, portal: documents

#1175 High Contrast hint on settings portal
  data/org.freedesktop.impl.portal.Settings.xml
  data/org.freedesktop.portal.Settings.xml
Labels: enhancement, portal: settings
