Repository flatpak/xdg-desktop-portal, pull requests merged in 2025-04, with the labels that each got.

#1689 tests/location: Test nothing breaks when GeoClue is missing
  tests/test_location.py
Labels: tests

#1682 dynamic-launcher: Check Desktop file after AppInfo can rewrite Exec
  src/dynamic-launcher.c
Labels: portal: dynamic launcher

#1685 document-portal: Use same error/message handlers as desktop portal
  document-portal/document-portal.c
Labels: portal: documents

#1665 Load portal config from data dirs with priority
  src/xdp-portal-impl.c
Labels: config

#1701 Fix broken link to Flatpak homepage.
  doc/website/index.md
Labels: website
