Repository flatpak/xdg-desktop-portal, pull requests merged in 2025-01, with the labels that each got.

#1551 tests: Set XDG_DATA_DIRS for as-installed testing
  tests/meson.build
  tests/template.test.in
Labels: tests

#1556 tests/usb: Skip the removal tests when the UMockdev version is too old
  tests/test_usb.py
Labels: ci, tests

#1548 build/tests: Check for python found and version in single require call
  tests/meson.build
Labels: build system

#1558 tests/conftest.py: Error out if xdp exited before exporting its bus
  tests/conftest.py
Labels: tests

#1568 conf: Enable html permalinks for headers on hover
  doc/_static/xdg.css
  doc/conf.py
Labels: documentation

#1569 Update copyright string
  doc/conf.py
Labels: website

#1565 Fix wording
  data/org.freedesktop.portal.Background.xml
Labels: documentation, portal: background

#1601 document-portal: Track open files
  document-portal/document-portal-fuse.c
Labels: portal: documents

#1598 Update sl.po
  po/sl.po
Labels: translation

#1597 document/fuse: Make the host-path xattr more useful
  document-portal/document-portal-fuse.c
  tests/test_documents.py
Labels: portal: documents

#1604 build: Change the pytest invocation to run a specific file
  tests/meson.build
Labels: tests

#1610 More small test improvements
  tests/__init__.py
  tests/test_document_fuse.py
  tests/test_documents.py
Labels: tests
